body {
	display: flex;
	flex-direction: column;
	height:100vh;
	margin: 0;
	padding: 0;
}
A {
	color: #000000;
	text-decoration: none;
}
input { 
	margin-bottom: 4px;
	margin-top: 10ps;
	}
.submit {
	
}
.bgMain {
	background-color: blue;
	text-align: left;
	}
.tMain{
	color: #2f2f2f;
	text-align: left;
}
.tMain A{
	color: #efefef;
}
.tMail{
	color: #efefef;
}
.favicon {
	height: 16px;
}
.welcomeLogo {
	padding-top: 4px;
}
.welcomeText {
	padding-top: 20px;
	padding-bottom: 60px;
	font-size: 24pt;
}
.welcomeImage {
	width: 100%;
}
.topmenu{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 6px;
	#background-color: #6666ff;
	border-bottom: solid 2px #6666ff;
	text-align: rigt;
}
.login{
	text-align: right;
}
.logout{
	text-align: right;
}
.topmenuText{
	padding-top: 10px;
	color: #000000;
	text-decoration: none;
	vertical-align: bottom;
}
.topmenuText A{
	color: #000000;
	text-decoration: none;
}
.image{
	width: 100%;
}
.btn-logout{
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	}
.footer{
	padding: 10px;
	font-size: 8pt;
	color: #eeeeee;
	background-color: #393939;
}
.footer a {
	color: #eeeeee;
}
.footer a:hover{
	color: #eeeeee;
	text-decoration: none;
}
.height100per{
	min-height: 100%;
}
.w100{
	width: 100%;
}
.green {
	background-color: #aaffaa;
}
.DashboardMenuItemName {
	padding-top: 0px;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: noemal;
	text-align: left;
	overflow: hidden;
}

.DashboardMenuSubItemName {
	padding-top: 0px;
	text-transform: uppercase;
	font-size: 7pt;
	font-weight: noemal;
	text-align: left;
	overflow: hidden;
}

.DashboardMenuItem{
	text-align: center;
	font-size: 8pt;
	border: 1px solid #333333;
	border-radius: 10px;
	width: 14px;
	height: 14px;
	margin-top: 3px;
	overflow: hidden;
}
.DashboardMenuSubItem{
	text-align: center;
	font-size: 8pt;
	border: 1px solid #333333;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	margin-top: 3px;
	overflow: hidden;
}
.activeMenu{
	background-color: #aaaaaa;
}
.Block{
	margin-bottom: 20px;
}
.blockfile{
	margin-bottom: 10px;
	border: 1px #bbbbbb dashed;
}
.dotted-frame{
	margin-bottom: 10px;
	border: 1px #bbbbbb dashed;
}
.Title{
	font-size: 16pt;
}
.blue {
	background-color: blue;
}
.BlockTitle{
	border-bottom: 0px solid #333333;
	font-size: 10pt;
	margin-top: 4px;
	margin-bottom: 10px;
	text-align: left;
	color: #333333;
	background-color: #ccffcc;
	text-transform: uppercase;
}
.SsidebarTitle {
	border-bottom: 0px solid #333333;
	font-size: 10pt;
	margin-top: 4px;
	margin-bottom: 10px;
	text-align: left;
	color: #333333;
	background-color: #ddffdd;
	text-transform: uppercase;
}
.HintTitle {
	border-bottom: 0px solid #333333;
	font-size: 10pt;
	margin-top: 4px;
	margin-bottom: 10px;
	text-align: left;
	color: #333333;
	background-color: #bbffbb;
	text-transform: uppercase;
}
.border {
	border: 1px solid black;
}